.about {
    min-height: 420px;
    background-color: #f6f8fa;
    &__inner {
        padding: 150px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__descr {
        margin: 0;
        max-width: 770px;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #373a39;
    }
}
